# ROS 2 Colcon build artifacts
build/
install/
log/

# Python bytecode
__pycache__/
*.pyc

# C++ compilation artifacts
*.o
*.d
*.so
*.dll
*.dylib

# Editor/IDE specific files (optional, but good practice)
.vscode/
.idea/
*.swp
*~
